<nav class="sticky-nav">
    <a id="logoo" href="/">&#128241;</a>
    <div id="nav-menu">
        <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/#menu-section">Mobile</a></li>
            <li><a href="/#our_product">Discover</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
        <form>
            <input type="search" id="foodSearch" placeholder="Enter Mobile Model" aria-label="Search" oninput="filterFood()">
            <button type="submit"><a href="#menu-section">Search</a></button>
        </form>
    </div>
</nav>